In [80]:
import pandas as pd
from pandas.api.types import is_numeric_dtype

In [57]:
pd.set_option('display.max_rows', 124)

In [164]:
df = pd.read_csv('../data/data.csv', sep = ';',decimal=',')

In [165]:
df.head()

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,49.0,0,0.0,0.0,0.0,2.0,NaN,0.0,0.0,0.0,...,0,0,0,0,0,1,NaN,0,0.0,0.0
1,65.0,0,0.0,1.0,2.0,1.0,NaN,2.0,0.0,NaN,...,0,0,0,1,0,0,0.0,0,0.0,0.0
2,58.0,1,0.0,0.0,0.0,2.0,1.0,2.0,0.0,2.0,...,0,0,0,0,0,0,0.0,0,0.0,0.0
3,43.0,1,4.0,2.0,2.0,2.0,NaN,0.0,0.0,0.0,...,0,0,0,0,0,0,0.0,0,0.0,0.0
4,49.0,1,0.0,4.0,2.0,1.0,NaN,2.0,0.0,3.0,...,0,0,0,0,0,0,0.0,0,0.0,0.0

In [71]:
len(df)

1700

In [166]:
df.isnull().sum(axis = 0)

AGE                 8
SEX                 0
INF_ANAM            4
STENOK_AN         106
FK_STENOK          73
IBS_POST           51
IBS_NASL         1628
GB                  9
SIM_GIPERT          8
DLIT_AG           248
ZSN_A              54
nr_11              21
nr_01              21
nr_02              21
nr_03              21
nr_04              21
nr_07              21
nr_08              21
np_01              18
np_04              18
np_05              18
np_07              18
np_08              18
np_09              18
np_10              18
endocr_01          11
endocr_02          10
endocr_03          10
zab_leg_01          7
zab_leg_02          7
zab_leg_03          7
zab_leg_04          7
zab_leg_06          7
S_AD_KBRIG       1070
D_AD_KBRIG       1070
S_AD_ORIT         262
D_AD_ORIT         263
O_L_POST           12
K_SH_POST          15
MP_TP_POST         14
SVT_POST           12
GT_POST            12
FIB_G_POST         12
ant_im             83
lat_im             80
inf_im             80
post_im            72
IM_PG_P             1
ritm_ecg_p_01     152
ritm_ecg_p_02     152
ritm_ecg_p_04     152
ritm_ecg_p_06     152
ritm_ecg_p_07     152
ritm_ecg_p_08     152
n_r_ecg_p_01      115
n_r_ecg_p_02      115
n_r_ecg_p_03      115
n_r_ecg_p_04      115
n_r_ecg_p_05      115
n_r_ecg_p_06      115
n_r_ecg_p_08      115
n_r_ecg_p_09      115
n_r_ecg_p_10      115
n_p_ecg_p_01      115
n_p_ecg_p_03      115
n_p_ecg_p_04      115
n_p_ecg_p_05      115
n_p_ecg_p_06      115
n_p_ecg_p_07      115
n_p_ecg_p_08      115
n_p_ecg_p_09      115
n_p_ecg_p_10      115
n_p_ecg_p_11      115
n_p_ecg_p_12      115
fibr_ter_01        10
fibr_ter_02        10
fibr_ter_03        10
fibr_ter_05        10
fibr_ter_06        10
fibr_ter_07        10
fibr_ter_08        10
GIPO_K            369
K_BLOOD           371
GIPER_NA          375
NA_BLOOD          375
ALT_BLOOD         284
AST_BLOOD         285
KFK_BLOOD        1696
L_BLOOD           125
ROE               203
TIME_B_S          126
R_AB_1_n           16
R_AB_2_n          108
R_AB_3_n          128
NA_KB             657
NOT_NA_KB         686
LID_KB            677
NITR_S              9
NA_R_1_n            5
NA_R_2_n          108
NA_R_3_n          131
NOT_NA_1_n         10
NOT_NA_2_n        110
NOT_NA_3_n        131
LID_S_n            10
B_BLOK_S_n         11
ANT_CA_S_n         13
GEPAR_S_n          17
ASP_S_n            17
TIKL_S_n           16
TRENT_S_n          16
FIBR_PREDS          1
PREDS_TAH           0
JELUD_TAH           0
FIBR_JELUD          0
A_V_BLOK            0
OTEK_LANC           0
RAZRIV              0
DRESSLER            0
ZSN                26
REC_IM              0
P_IM_STEN           1
LET_IS              2
dtype: int64

In [168]:
df_without_nan = df.copy()

In [169]:
df.count(axis = 0)

AGE              1692
SEX              1700
INF_ANAM         1696
STENOK_AN        1594
FK_STENOK        1627
IBS_POST         1649
IBS_NASL           72
GB               1691
SIM_GIPERT       1692
DLIT_AG          1452
ZSN_A            1646
nr_11            1679
nr_01            1679
nr_02            1679
nr_03            1679
nr_04            1679
nr_07            1679
nr_08            1679
np_01            1682
np_04            1682
np_05            1682
np_07            1682
np_08            1682
np_09            1682
np_10            1682
endocr_01        1689
endocr_02        1690
endocr_03        1690
zab_leg_01       1693
zab_leg_02       1693
zab_leg_03       1693
zab_leg_04       1693
zab_leg_06       1693
S_AD_KBRIG        630
D_AD_KBRIG        630
S_AD_ORIT        1438
D_AD_ORIT        1437
O_L_POST         1688
K_SH_POST        1685
MP_TP_POST       1686
SVT_POST         1688
GT_POST          1688
FIB_G_POST       1688
ant_im           1617
lat_im           1620
inf_im           1620
post_im          1628
IM_PG_P          1699
ritm_ecg_p_01    1548
ritm_ecg_p_02    1548
ritm_ecg_p_04    1548
ritm_ecg_p_06    1548
ritm_ecg_p_07    1548
ritm_ecg_p_08    1548
n_r_ecg_p_01     1585
n_r_ecg_p_02     1585
n_r_ecg_p_03     1585
n_r_ecg_p_04     1585
n_r_ecg_p_05     1585
n_r_ecg_p_06     1585
n_r_ecg_p_08     1585
n_r_ecg_p_09     1585
n_r_ecg_p_10     1585
n_p_ecg_p_01     1585
n_p_ecg_p_03     1585
n_p_ecg_p_04     1585
n_p_ecg_p_05     1585
n_p_ecg_p_06     1585
n_p_ecg_p_07     1585
n_p_ecg_p_08     1585
n_p_ecg_p_09     1585
n_p_ecg_p_10     1585
n_p_ecg_p_11     1585
n_p_ecg_p_12     1585
fibr_ter_01      1690
fibr_ter_02      1690
fibr_ter_03      1690
fibr_ter_05      1690
fibr_ter_06      1690
fibr_ter_07      1690
fibr_ter_08      1690
GIPO_K           1331
K_BLOOD          1329
GIPER_NA         1325
NA_BLOOD         1325
ALT_BLOOD        1416
AST_BLOOD        1415
KFK_BLOOD           4
L_BLOOD          1575
ROE              1497
TIME_B_S         1574
R_AB_1_n         1684
R_AB_2_n         1592
R_AB_3_n         1572
NA_KB            1043
NOT_NA_KB        1014
LID_KB           1023
NITR_S           1691
NA_R_1_n         1695
NA_R_2_n         1592
NA_R_3_n         1569
NOT_NA_1_n       1690
NOT_NA_2_n       1590
NOT_NA_3_n       1569
LID_S_n          1690
B_BLOK_S_n       1689
ANT_CA_S_n       1687
GEPAR_S_n        1683
ASP_S_n          1683
TIKL_S_n         1684
TRENT_S_n        1684
FIBR_PREDS       1699
PREDS_TAH        1700
JELUD_TAH        1700
FIBR_JELUD       1700
A_V_BLOK         1700
OTEK_LANC        1700
RAZRIV           1700
DRESSLER         1700
ZSN              1674
REC_IM           1700
P_IM_STEN        1699
LET_IS           1698
dtype: int64

In [89]:
def getAvgForStr(list_of_item):
    summ = 0
    coun = 0
    for i in list_of_item:
        if i != 'Nan':
            summ += float(i)
            count += 1
    return str(summ/count)

In [170]:
for column in df_without_nan.columns:
    if df_without_nan[column].isnull().sum()>len(df)*0.3:
        print(column,df_without_nan[column].isnull().sum())

IBS_NASL 1628
S_AD_KBRIG 1070
D_AD_KBRIG 1070
KFK_BLOOD 1696
NA_KB 657
NOT_NA_KB 686
LID_KB 677

In [171]:
for column in df_without_nan.columns:
    if df_without_nan[column].isnull().sum()>len(df)*0.3:
        del df_without_nan[column] #Удаляем столбцы где Nan более 30%
    else:
        # Ставим среднее во всех остальных случаях
        if is_numeric_dtype(df_without_nan[column]):
            avg_for_nan = int(df_without_nan[column].mean())
            print(avg_for_nan) 
            df_without_nan[column] = df_without_nan[column].fillna(avg_for_nan)
        else:
            df_without_nan[column] = df_without_nan[column].fillna(getAvgForStr(df_without_nan[column].tolist()))

61
0
0
2
1
1
1
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
134
82
0
0
0
0
0
0
1
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
4
0
136
0
0
8
13
4
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [172]:
for column in df_without_nan.columns:
    data = df_without_nan[column].fillna(0)
    print(column, end=': ')
    if df_without_nan[column].dtype == 'object':
        df_without_nan[column] = df_without_nan[column].astype('float')
        print('str')
    elif (data.astype(int) == data).all():
        df_without_nan[column] = df_without_nan[column].astype('int')
        print('int')
    else:
        print('float')

AGE: int
SEX: int
INF_ANAM: int
STENOK_AN: int
FK_STENOK: int
IBS_POST: int
GB: int
SIM_GIPERT: int
DLIT_AG: int
ZSN_A: int
nr_11: int
nr_01: int
nr_02: int
nr_03: int
nr_04: int
nr_07: int
nr_08: int
np_01: int
np_04: int
np_05: int
np_07: int
np_08: int
np_09: int
np_10: int
endocr_01: int
endocr_02: int
endocr_03: int
zab_leg_01: int
zab_leg_02: int
zab_leg_03: int
zab_leg_04: int
zab_leg_06: int
S_AD_ORIT: int
D_AD_ORIT: int
O_L_POST: int
K_SH_POST: int
MP_TP_POST: int
SVT_POST: int
GT_POST: int
FIB_G_POST: int
ant_im: int
lat_im: int
inf_im: int
post_im: int
IM_PG_P: int
ritm_ecg_p_01: int
ritm_ecg_p_02: int
ritm_ecg_p_04: int
ritm_ecg_p_06: int
ritm_ecg_p_07: int
ritm_ecg_p_08: int
n_r_ecg_p_01: int
n_r_ecg_p_02: int
n_r_ecg_p_03: int
n_r_ecg_p_04: int
n_r_ecg_p_05: int
n_r_ecg_p_06: int
n_r_ecg_p_08: int
n_r_ecg_p_09: int
n_r_ecg_p_10: int
n_p_ecg_p_01: int
n_p_ecg_p_03: int
n_p_ecg_p_04: int
n_p_ecg_p_05: int
n_p_ecg_p_06: int
n_p_ecg_p_07: int
n_p_ecg_p_08: int
n_p_ecg_p_09: int
n_p_ecg_p_10: int
n_p_ecg_p_11: int
n_p_ecg_p_12: int
fibr_ter_01: int
fibr_ter_02: int
fibr_ter_03: int
fibr_ter_05: int
fibr_ter_06: int
fibr_ter_07: int
fibr_ter_08: int
GIPO_K: int
K_BLOOD: float
GIPER_NA: int
NA_BLOOD: int
ALT_BLOOD: float
AST_BLOOD: float
L_BLOOD: float
ROE: int
TIME_B_S: int
R_AB_1_n: int
R_AB_2_n: int
R_AB_3_n: int
NITR_S: int
NA_R_1_n: int
NA_R_2_n: int
NA_R_3_n: int
NOT_NA_1_n: int
NOT_NA_2_n: int
NOT_NA_3_n: int
LID_S_n: int
B_BLOK_S_n: int
ANT_CA_S_n: int
GEPAR_S_n: int
ASP_S_n: int
TIKL_S_n: int
TRENT_S_n: int
FIBR_PREDS: int
PREDS_TAH: int
JELUD_TAH: int
FIBR_JELUD: int
A_V_BLOK: int
OTEK_LANC: int
RAZRIV: int
DRESSLER: int
ZSN: int
REC_IM: int
P_IM_STEN: int
LET_IS: int

In [219]:
normalized_df=(df_without_nan-df_without_nan.mean())/df_without_nan.std()

In [220]:
normalized_df

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,-1.144157,-1.294673,-0.630710,-0.971244,-1.163800,1.068833,-1.280667,-0.186205,-1.147382,-0.290010,...,-0.159113,-0.208709,-0.186205,-0.321122,-0.181073,4.653377,-0.549097,-0.321122,-0.308715,-0.345240
1,0.280148,-1.294673,-0.630710,-0.548315,0.777770,-0.197380,0.560461,-0.186205,-0.102071,-0.290010,...,-0.159113,-0.208709,-0.186205,3.112254,-0.181073,-0.214771,-0.549097,-0.321122,-0.308715,-0.345240
2,-0.342985,0.771941,-0.630710,-0.971244,-1.163800,1.068833,0.560461,-0.186205,-0.450508,-0.290010,...,-0.159113,-0.208709,-0.186205,-0.321122,-0.181073,-0.214771,-0.549097,-0.321122,-0.308715,-0.345240
3,-1.678271,0.771941,3.790760,-0.125386,0.777770,1.068833,-1.280667,-0.186205,-1.147382,-0.290010,...,-0.159113,-0.208709,-0.186205,-0.321122,-0.181073,-0.214771,-0.549097,-0.321122,-0.308715,-0.345240
4,-1.144157,0.771941,-0.630710,0.720472,0.777770,-0.197380,0.560461,-0.186205,-0.102071,-0.290010,...,-0.159113,-0.208709,-0.186205,-0.321122,-0.181073,-0.214771,-0.549097,-0.321122,-0.308715,-0.345240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,0.013091,0.771941,-0.630710,-0.971244,-1.163800,-1.463594,-1.280667,5.367272,1.291676,-0.290010,...,-0.159113,-0.208709,-0.186205,-0.321122,5.519380,-0.214771,-0.549097,-0.321122,-0.308715,1.825813
1696,0.725244,-1.294673,-0.630710,-0.125386,0.777770,-0.197380,0.560461,-0.186205,1.291676,-0.290010,...,-0.159113,-0.208709,-0.186205,-0.321122,5.519380,-0.214771,-0.549097,-0.321122,-0.308715,1.825813
1697,0.725244,-1.294673,-0.630710,1.566330,0.777770,-0.197380,0.560461,-0.186205,1.291676,-0.290010,...,-0.159113,-0.208709,-0.186205,-0.321122,-0.181073,-0.214771,-0.549097,-0.321122,-0.308715,0.378444
1698,1.526415,-1.294673,1.580025,-0.125386,0.777770,-0.197380,0.560461,-0.186205,1.291676,-0.290010,...,-0.159113,-0.208709,-0.186205,3.112254,-0.181073,-0.214771,-0.549097,-0.321122,-0.308715,0.378444
1699,0.102110,0.771941,1.580025,-0.125386,-0.193015,-0.197380,0.560461,-0.186205,-0.102071,5.872698,...,-0.159113,-0.208709,-0.186205,-0.321122,-0.181073,-0.214771,-0.549097,-0.321122,-0.308715,0.378444

In [182]:
df_without_nan

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,49,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,65,0,0,1,2,1,2,0,3,0,...,0,0,0,1,0,0,0,0,0,0
2,58,1,0,0,0,2,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,43,1,4,2,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,49,1,0,4,2,1,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,62,1,0,0,0,0,0,1,7,0,...,0,0,0,0,1,0,0,0,0,3
1696,70,0,0,2,2,1,2,0,7,0,...,0,0,0,0,1,0,0,0,0,3
1697,70,0,0,6,2,1,2,0,7,0,...,0,0,0,0,0,0,0,0,0,1
1698,79,0,2,2,2,1,2,0,7,0,...,0,0,0,1,0,0,0,0,0,1
1699,63,1,2,2,1,1,2,0,3,4,...,0,0,0,0,0,0,0,0,0,1

In [218]:
df_target = df_without_nan.iloc[:,[104,105,106,107,108,109,110,111,112,113,114,115]].copy()
df_target['DEATH'] = df_target['LET_IS'].apply(lambda x: 1 if x > 0 else 0)
df_target

,FIBR_PREDS,PREDS_TAH,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS,DEATH
0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,0,0,0,0,0,0,1,0,0,0,0,3,1
1696,0,0,0,0,0,0,1,0,0,0,0,3,1
1697,0,0,0,0,0,0,0,0,0,0,0,1,1
1698,0,0,0,0,0,1,0,0,0,0,0,1,1
1699,0,0,0,0,0,0,0,0,0,0,0,1,1

In [206]:
def_df = df_without_nan.iloc[:,[87,88,89,91,92,93,94,95,96]]
def_df.columns

Index(['R_AB_1_n', 'R_AB_2_n', 'R_AB_3_n', 'NA_R_1_n', 'NA_R_2_n', 'NA_R_3_n',
       'NOT_NA_1_n', 'NOT_NA_2_n', 'NOT_NA_3_n'],
      dtype='object')

In [202]:
df_zero_day = df_without_nan.copy()

In [203]:
df_zero_day.drop(def_df.columns ,axis=1 ,inplace=True)

In [210]:
df_first_day = df_without_nan.copy()
def_df_first = df_without_nan.iloc[:,[88,89,92,93,95,96]]
def_df_first.columns

Index(['R_AB_2_n', 'R_AB_3_n', 'NA_R_2_n', 'NA_R_3_n', 'NOT_NA_2_n',
       'NOT_NA_3_n'],
      dtype='object')

In [211]:
df_first_day.drop(def_df_first.columns ,axis=1 ,inplace=True)

In [215]:
df_second_day = df_without_nan.copy()
def_df_second = df_without_nan.iloc[:,[89,93,96]]
def_df_second.columns

Index(['R_AB_3_n', 'NA_R_3_n', 'NOT_NA_3_n'], dtype='object')

In [216]:
df_second_day.drop(def_df_second.columns ,axis=1 ,inplace=True)

In [217]:
df_third_day = df_without_nan.copy()